In [1]:
import pandas as pd

In [2]:
def load_dataset():
    data = pd.read_csv('dataset_clean.csv')
    return data

In [3]:
tweet_df = load_dataset()

In [4]:
tweet_df.head()

,Unnamed: 0,timestamp,Tweet
0,11190,2022-05-15 06:12:25+00:00,a-aku blm vaksin booster
1,13777,2022-05-19 09:35:16+00:00,aa udh vaksin booster blm blh scan barcode klo...
2,13749,2022-05-19 10:00:50+00:00,aamiin allahumma aamiin doa yg utk klrga yaa j...
3,4648,2022-03-03 06:31:44+00:00,aamiin besok vaksin booster pdhl
4,4518,2022-03-03 09:22:40+00:00,aamiin pulang vaksin langsung istirahat kak al...

In [5]:
df = pd.DataFrame(tweet_df)

In [6]:
df

,Unnamed: 0,timestamp,Tweet
0,11190,2022-05-15 06:12:25+00:00,a-aku blm vaksin booster
1,13777,2022-05-19 09:35:16+00:00,aa udh vaksin booster blm blh scan barcode klo...
2,13749,2022-05-19 10:00:50+00:00,aamiin allahumma aamiin doa yg utk klrga yaa j...
3,4648,2022-03-03 06:31:44+00:00,aamiin besok vaksin booster pdhl
4,4518,2022-03-03 09:22:40+00:00,aamiin pulang vaksin langsung istirahat kak al...
...,...,...,...
4055,10424,2022-05-14 09:51:38+00:00,yuk yg vaksin booster ampul url
4056,4794,2022-03-03 03:00:35+00:00,yuks vaksin booster url
4057,127,2021-11-25 06:57:09+00:00,yupi yupi yeay kookmin jikook short au bahasa ...
4058,4632,2022-03-03 06:57:02+00:00,yupp bebas pilih vaksin booster mana aja kalo ...
4059,4,2021-11-25 06:36:53+00:00,zoo tau cat hotel bandung gak vaksin sewa room...

In [7]:
df['Tweet'] = df['Tweet'].str.replace('gak','tidak')
df['Tweet'] = df['Tweet'].str.replace('blm','belum')
df['Tweet'] = df['Tweet'].str.replace('blh','boleh')
df['Tweet'] = df['Tweet'].str.replace('tdk','tidak')
df['Tweet'] = df['Tweet'].str.replace('yg','yang')
df['Tweet'] = df['Tweet'].str.replace('utk','untuk')
df['Tweet'] = df['Tweet'].str.replace('gk','tidak')
df['Tweet'] = df['Tweet'].str.replace('krn','karena')
df['Tweet'] = df['Tweet'].str.replace('td','tadi')
df['Tweet'] = df['Tweet'].str.replace('trs','terus')
df['Tweet'] = df['Tweet'].str.replace('pdhl','padahal')
df['Tweet'] = df['Tweet'].str.replace('dlm','dalam')
df['Tweet'] = df['Tweet'].str.replace('udh','sudah')
df['Tweet'] = df['Tweet'].str.replace('jd','jadi')
df['Tweet'] = df['Tweet'].str.replace('bgt','banget')
df['Tweet'] = df['Tweet'].str.replace('skrg','sekarang')
df['Tweet'] = df['Tweet'].str.replace('msh','masih')
df['Tweet'] = df['Tweet'].str.replace('sy','saya')
df['Tweet'] = df['Tweet'].str.replace('tp','tapi')
df['Tweet'] = df['Tweet'].str.replace('yuks','ayo')
df['Tweet'] = df['Tweet'].str.replace('yuk','ayo')
df['Tweet'] = df['Tweet'].str.replace('yupp','iya')
df['Tweet'] = df['Tweet'].str.replace('yup','iya')
df['Tweet'] = df['Tweet'].str.replace('jg','juga')

In [8]:
df

,Unnamed: 0,timestamp,Tweet
0,11190,2022-05-15 06:12:25+00:00,a-aku belum vaksin booster
1,13777,2022-05-19 09:35:16+00:00,aa sudah vaksin booster belum boleh scan barco...
2,13749,2022-05-19 10:00:50+00:00,aamiin allahumma aamiin doa yang untuk klrga y...
3,4648,2022-03-03 06:31:44+00:00,aamiin besok vaksin booster padahal
4,4518,2022-03-03 09:22:40+00:00,aamiin pulang vaksin langsung istirahat kak al...
...,...,...,...
4055,10424,2022-05-14 09:51:38+00:00,ayo yang vaksin booster ampul url
4056,4794,2022-03-03 03:00:35+00:00,ayo vaksin booster url
4057,127,2021-11-25 06:57:09+00:00,iyai iyai yeay kookmin jikook short au bahasa ...
4058,4632,2022-03-03 06:57:02+00:00,iya bebas pilih vaksin booster mana aja kalo n...
4059,4,2021-11-25 06:36:53+00:00,zoo tau cat hotel bandung tidak vaksin sewa ro...

In [9]:
from googletrans import Translator

translator = Translator()

df['translated_tweet'] = df['Tweet'].apply(translator.translate, src='id', dest='en')
df['translated_tweet'] = df['translated_tweet'].apply(getattr, args=('text', ))

In [10]:
df

,Unnamed: 0,timestamp,Tweet,translated_tweet
0,11190,2022-05-15 06:12:25+00:00,a-aku belum vaksin booster,I-I haven't had the booster vaccine yet
1,13777,2022-05-19 09:35:16+00:00,aa sudah vaksin booster belum boleh scan barco...,"aa already has the booster vaccine, you can't ..."
2,13749,2022-05-19 10:00:50+00:00,aamiin allahumma aamiin doa yang untuk klrga y...,"Amen, allahumma, amen, for the prayers for the..."
3,4648,2022-03-03 06:31:44+00:00,aamiin besok vaksin booster padahal,"Amen, tomorrow is a booster vaccine even though"
4,4518,2022-03-03 09:22:40+00:00,aamiin pulang vaksin langsung istirahat kak al...,"Amen, go home, take a break immediately, Sis, ..."
...,...,...,...,...
4055,10424,2022-05-14 09:51:38+00:00,ayo yang vaksin booster ampul url,let's get vaccine booster ampoule url
4056,4794,2022-03-03 03:00:35+00:00,ayo vaksin booster url,let's vaccine booster url
4057,127,2021-11-25 06:57:09+00:00,iyai iyai yeay kookmin jikook short au bahasa ...,yes yes yes yes kookmin jikook short au people...
4058,4632,2022-03-03 06:57:02+00:00,iya bebas pilih vaksin booster mana aja kalo n...,"Yes, you are free to choose any booster vaccin..."
4059,4,2021-11-25 06:36:53+00:00,zoo tau cat hotel bandung tidak vaksin sewa ro...,zoo knows that the cat hotel in Bandung is not...

In [11]:
df.to_csv('translated_dataset.csv', encoding='utf8', index=True)